{{ partial "head.html" . }}

<!-- Banner -->
<section id="banner">
	<div class="inner">
		<header>
			<h2>{{ .Title }}</h2>
		</header>
		{{ with .Site.Params.intro | markdownify }}<p class="lead">{{ . }}</p>{{ end }}
		<footer>
			<ul class="buttons vertical">
				<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
			</ul>
		</footer>
	</div>
</section>

<!-- Main -->
<article id="main">
	<header class="special container">
		<span class="icon fa-bar-chart-o"></span>
		<h2>I'm an Open-source <strong>Drupal developer</strong>
			<br />
			with a portfolio including Intel, Nike, and Hitachi.
		</h2>
		<p>I'm good at public speaking, and I've given many <strong>technical presentations</strong>.
			<br />
			Some of my sessions include, front end performance, static website generators,
			<br />
			and site search experience. Find out more <a href="/work/">about me</a>.
		</p>
		<p>&nbsp;</p>
		<footer>
			<ul class="buttons vertical">
				<li><a href="#values" class="button scrolly">See More</a></li>
			</ul>
		</footer>
	</header>

	<!-- One -->
		<section id="values" class="wrapper style2 container special-alt">
			<div class="row 50%">
				<div class="8u 12u(narrower)">
					<header>
						<h2>Like math and fashion, software should be free.</h2>
					</header>
					<p>I'm an ideas person with the skills to bring my ideas to life. I share my work because "<strong>every computer user</strong> should have the <strong>freedom</strong>
						to run, copy, distribute, study, share, change and improve their software for any purpose, without paying licensing fees."</p>
					<footer>
						<ul class="buttons vertical">
							<li><a href="#checked" class="button scrolly">See More</a></li>
						</ul>
					</footer>

				</div>
				<div class="4u 12u(narrower) important(narrower)">

				<img width="272px" src="/images/created-with-free-software.png" />

				</div>
			</div>
		</section>

	<!-- Two -->
	<p id="checked">&nbsp; </p>
		<section class="wrapper style1 container special">
			<div class="row">
				<div class="4u 12u(narrower)">

					<section>
						<span class="icon featured fa-check"></span>
						<header>
							<h3>Technical Architecture</h3>
						</header>
						<p>Large-scale custom web application development. Scoping, pricing, and designing projects from a technical perspective and <strong>leading</strong> complex implementations.</p>
					</section>

				</div>
				<div class="4u 12u(narrower)">

					<section>
						<span class="icon featured fa-check"></span>
						<header>
							<h3>Drupal Development</h3>
						</header>
						<p>Custom module development with a focus on web performance, Solr site search, data migrations, and <strong>multilingual</strong> websites.</p>
					</section>

				</div>
				<div class="4u 12u(narrower)">

					<section>
						<span class="icon featured fa-check"></span>
						<header>
							<h3>Linux Dev Ops</h3>
						</header>
						<p>Slow, poorly configured web hosting makes even the best programmers look bad. Jenkins, Ansible, <strong>Varnish</strong>, monitoring, and backup.</p>
					</section>
				</div>
			</div>
			<footer>
				<ul class="buttons vertical">
					<li><a href="#work" class="button scrolly">See More</a></li>
				</ul>
			</footer>
		</section>

	<!-- Three -->
	  <p id="work">&nbsp;</p>
		<section class="wrapper style3 container special">
			<header class="major">
				<h2>Next look at this <strong>cool stuff</strong></h2>
			</header>
			<div class="row">
				<div class="6u 12u(narrower)">
					<section>
						<a href="#" class="image featured"><img src="/portfolio/hitachi_thumb.jpg" alt="" /></a>
						<header>
							<h3>Hitachi High Technologies America</h3>
						</header>
						<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
					</section>
				</div>
				<div class="6u 12u(narrower)">

					<section>
						<a href="#" class="image featured"><img src="/portfolio/nike-core_thumb.jpg" alt="" /></a>
						<header>
							<h3>Nike Core</h3>
						</header>
						<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
					</section>
				</div>
			</div>
			<div class="row">
				<div class="6u 12u(narrower)">
					<section>
						<a href="#" class="image featured"><img src="/portfolio/sutterhome_1.jpg" alt="" /></a>
						<header>
							<h3>Sutter Home Wines</h3>
						</header>
						<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
					</section>
				</div>
				<div class="6u 12u(narrower)">
					<section>
						<a href="#" class="image featured"><img src="/portfolio/intel-finance_thumb.jpg" alt="" /></a>
						<header>
							<h3>Intel Finance</h3>
						</header>
						<p>Sed tristique purus vitae volutpat commodo suscipit amet sed nibh. Proin a ullamcorper sed blandit. Sed tristique purus vitae volutpat commodo suscipit ullamcorper sed blandit lorem ipsum dolore.</p>
					</section>
				</div>
			</div>
			<footer class="major">
				<ul class="buttons vertical">
					<li><a href="#cta" class="button scrolly">See More</a></li>
				</ul>
			</footer>
		</section>
</article>

<!-- CTA -->
	<section id="cta">
		<header>
			<h2>Ready to do <strong>something</strong>?</h2>
			<p>Let's make a great website together.</p>
		</header>
		<footer>
			<ul class="buttons">
				<li><a href="contact-me" class="button special ">Hire Me</a></li>
				<li><a href="/work/" class="button scrollr">View More Work</a></li>
			</ul>
		</footer>
	</section>
{{ partial "foot.html" . }}
