{{ partial "head.html" . }}
{{ if isset .Params "left-sidebar" }}{{ partial "sidebar.html" . }}{{end}}

<!-- Main -->
<article id="main">

	<!-- One -->
	<section class="wrapper style4 container">
		<div class="row 150%">
			{{ if eq .Params.theme "left-sidebar" }}{{ partial "sidebar.html" . }}{{end}}

			<!-- Content -->
			<div class="{{ if isset .Params "theme" }}8{{else}}12{{end}}u 12u(narrower)">
				<header class="container">
					<h1>{{ .Title }}</h1>
				</header>
				<p class="post-meta">
					{{ .Date.Format "Jan 2, 2006" }} &middot; {{ .ReadingTime }} minute read
					{{ if isset .Params "categories" }}
					{{ $baseUrl := .Site.BaseUrl }}
						{{ range .Params.categories }}
							<a class="label" href="{{ $baseUrl }}/categories/{{ . | urlize }}">{{ . }}</a>
						{{ end }}
					{{ end }}
				</p>
				<section>
					{{ .Content }}
				</section>
			</div>
			{{ if eq .Params.theme "right-sidebar" }}{{ partial "sidebar.html" . }}{{end}}
		</div>
	</section>
	{{ partial "prev-next.html" . }}
</article>
{{ partial "related-posts.html" . }}
{{ partial "foot.html" . }}