{{ partial "head.html" . }}
{{ if isset .Params "left-sidebar" }}{{ partial "sidebar.html" . }}{{end}}

<!-- Main -->
<article id="main">

	<!-- One -->
	<section class="wrapper style4 container">
		<div class="row 150%">

			<!-- Content -->
			<div class="8u 12u(narrower)">
				<header class="container">
					<h1>{{ .Title }}</h1>
				</header>
				<p class="post-meta">
					By Greg Boggs on {{ .Date.Format "Jan 2, 2006" }} &middot; {{ .ReadingTime }} minute read
					{{ if isset .Params "categories" }} in 
					{{ $baseUrl := .Site.BaseUrl }}
						{{ range .Params.categories }}
							<a class="label" href="{{ $baseUrl }}/categories/{{ . | urlize }}">{{ . }}</a>
						{{ end }}
					{{ end }}
				</p>
				<section>
					{{ .Content }}
				</section>
			</div>
			{{ partial "sidebar-blog.html" . }}
		</div>
		{{ partial "prev-next.html" . }}
	</section>

</article>
{{ partial "related-posts.html" . }}
{{ partial "foot.html" . }}
