{{ partial "head.html" . }}
<!-- Main -->
<article id="main">
	<section class="wrapper style4 container">
		<div class="row 150%">
			<div class="8u 12u(narrower)">
				<section>
					{{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
					{{ range $paginator.Pages }}
						<article class="post">
							<header>
								<h2 class="post-title">
									<a href="{{ .Permalink }}">{{ .Title }}</a>
								</h2>
								<span class="post-meta">
									{{ .Date.Format "Jan 2, 2006" }} &middot; {{ .ReadingTime }} minute read &middot; {{ .FuzzyWordCount }} words &middot; In
									{{ if isset .Params "categories" }}
										{{ $baseUrl := .Site.BaseUrl }}
										{{ range .Params.categories }}
											<a class="label" href="{{ $baseUrl }}/categories/{{ . | urlize }}">{{ . }}</a>
										{{ end }}
									{{ end }}
								</span>
							</header>
							<section class="summary">
								<p>{{ .Summary }}</p>
							</section>
							<p>
								<a class="read-more button" href="{{ .Permalink }}">Read On &rarr;</a>
							</p>
						</article>
					{{ end }}
					<footer>
						{{ template "_internal/pagination.html" . }}
					</footer>
				</section>
			</div>
			{{ partial "sidebar-blog.html" . }}
		</div>
	</section>
</article>
{{ partial "foot.html" . }}
