{{ partial "head.html" . }}
{{ if isset .Params "left-sidebar" }}{{ partial "sidebar.html" . }}{{end}}

<!-- Main -->
<article id="main">

	<!-- One -->
	<section class="wrapper style4 container">
		<div class="row 150%">
			{{ if eq .Params.theme "left-sidebar" }}{{ partial "sidebar.html" . }}{{end}}

			<!-- Content -->
			<div class="{{ if isset .Params "theme" }}8{{else}}12{{end}}u 12u(narrower)">
			<header class="container">
				<h1>{{ .Title }}</h1>
			</header>
				<section>
					{{ .Content }}
				</section>
			</div>
			{{ if eq .Params.theme "right-sidebar" }}{{ partial "sidebar.html" . }}{{end}}
		</div>
	</section>
</article>
{{ partial "cta.html" . }}
<section class="wrapper container">
	{{ partial "related-posts.html" . }}
</section>
{{ partial "foot.html" . }}